/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header .container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}
header .container ul {
  margin-top: 21px;
  display: flex;
  gap: 35px;
}
header .container ul a {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.h31 {
  margin-top: 42px;
  margin-left: 176px;
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}
.container .img1 {
  margin-top: 27px;
  position: relative;
  z-index: 1;
}
.container .img2 {
  margin-left: 40px;
  position: relative;
  z-index: 1;
}
.container .pebi {
  display: flex;
  justify-content: space-around;
}
.container .pebi p {
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
  z-index: 2;
  margin-right: 100px;
  margin-top: -150px;
}
.container .d1 {
  display: flex;
  gap: 44px;
}
.container .divebi {
  display: flex;
  background-color: #f1f1f1;
  width: 362px;
  height: 171px;
  border-radius: 0px 0px 5px 5px;
}
.container .divebi h3 {
  padding-left: 15px;
  padding-top: 67px;
  color: #8a8787;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.container h2 {
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 57px;
  margin-bottom: 30px;
}
.container .potoebi .idkkk {
  display: flex;
}
.container .potoebi .warwera {
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
  z-index: 2;
  margin-top: 200px;
  margin-left: 315px;
  display: inline-block;
}
.container .potoebi .pirveli {
  position: relative;
  z-index: 1;
  margin-top: px;
  margin-left: -480px;
  vertical-align: middle;
}
.container .potoebi .zsz {
  height: 837px;
  width: 362px;
  display: inline-block;
  margin-top: -950px;
  vertical-align: middle;
}
.container .potoebi .meore {
  margin-left: 37px;
  margin-top: 42px;
  position: relative;
  z-index: 1;
}
.container .potoebi .mesame {
  margin-left: 37px;
  margin-bottom: 98px;
  position: relative;
}
.container .potoebi .meotxe {
  margin-left: 37px;
  margin-bottom: 98px;
  position: relative;
  z-index: 2;
}
.container .potoebi .mexute {
  margin-left: 37px;
}
.container .bolo {
  width: 1440px;
  height: 201px;
  background: #243043;
  margin-top: 36px;
}
.container .f1 {
  padding-top: 59px;
  padding-left: 137px;
  display: inline-block;
  vertical-align: middle;
}
.container .h33 {
  color: #818687;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 21px;
}
.container .h311 {
  color: #818687;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.container .zebra {
  display: inline-block;
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 112px;
  vertical-align: middle;
}
.container .bolopoto {
  margin-left: 300px;
  margin-top: 60px;
}/*# sourceMappingURL=global.css.map */